---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { PageStoryblok } from "@base/component-types-sb";

const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok: PageStoryblok) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</main>
