---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";
import TextWithButton from "../components/TextWithButton.astro";
const { blok } = Astro.props;
let textWithButton = blok.textsWithButton;
---

<section {...storyblokEditable(blok)} class="bg-soft-blue items-center flex container rounded-[30px] py-10 px-12 gap-12 my-12">
    <Image
    src={blok.bannerImage.filename}
    alt={blok.bannerImage.alt}
    width="200"
    height="150"
    class=" w-[40%] h-auto ratio-1 object-cover"
    />
    <TextWithButton textsWithButton={textWithButton} />

</section>