---
import { useStoryblokApi } from "@storyblok/astro";
import { Icon } from "astro-iconify";
import type { FooterSocmedLinkStoryblok } from "@base/component-types-sb";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});

const FooterSocmed: FooterSocmedLinkStoryblok[] =
  data?.story?.content?.footerSocmed;
---

<footer class="bg-primary-darker text-white">
  <div class="container px-5 py-4">
    <div class="flex flex-col items-center gap-4">
      <nav>
        <ul class="flex gap-4">
          {
            FooterSocmed.map((menu: FooterSocmedLinkStoryblok) => (
              <li>
                <a
                  href={`${menu.link.cached_url}`}
                  class="flex size-11 items-center justify-center rounded-full bg-neutral-50 text-primary-darker"
                >
                  <Icon class="size-7" name={menu.icon.icon} />
                  <span class="sr-only">{menu.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <span class="text-sm">
        Copyright {new Date().getFullYear()} &copy; Long Distance Creator
      </span>
    </div>
  </div>
</footer>
